{% comment %}
Should assign words before include this component
{% endcomment %}
<link rel="stylesheet" href="/assets/css/word-cloud.css">

<ul class="word-cloud">
  {% for word in words %}
    <li>
      <a href="#{{ word[0] | slugify }}"
      {% if word[1].size <= 2 %} style="font-size: 0.75em; color: #A9A9A9;"
      {% elsif word[1].size <= 5 %} style="font-size: 1em; color: #FFA500;"
      {% elsif word[1].size <= 10 %} style="font-size: 1.25em; color: #00BFFF;"
      {% elsif word[1].size <= 20 %} style="font-size: 1.5em; color: #9ACD32;"
      {% elsif word[1].size <= 50 %} style="font-size: 1.75em; color: #00FF7F;"
      {% else %} style="font-size: 2em; color: #DC143C;"
      {% endif %}
      >
        <strong>{{ word[0] }}</strong>
      </a>
    </li>
  {% endfor %}
</ul>
